<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
  <!-- <a class="navbar-brand js-scroll-trigger" href="#page-top">
    <span class="d-none d-lg-block">
      <img class="img-fluid mx-auto mb-2" src="../../assets/img/nisum-logo.png" alt="">
    </span>
  </a> -->
  <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="../../assets/img/profile.png" alt="">
      </span>
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse header" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#about">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#professional-summary">Professional Summary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#skills">Technical Skills</a>
      </li>
      <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
        </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#professional-experience">Professional Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#education">Education</a>
      </li>
      <li class="nav-item">
          <app-section-resume-preview></app-section-resume-preview>
        </li>
    </ul>
  </div>
</nav>
