<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
  <div class="my-auto">
    <h1 class="mb-0">{{firstName}}
      <span class="text-primary">{{lastName}}</span>
    </h1>
    <div class="subheading mb-5">{{phone_no}} ·
      <a href="mailto:{{email}}">{{email}}</a>
    </div>

    <div class="form-inline">
      <div class="form-group">
        <input
         type="text"
         class="form-control"
         placeholder="FirstName"
         [(ngModel)]="firstName"
         [disabled]="!isEditable">
      </div>&nbsp;

      <div class="form-group">
        <input type="text"
          class="form-control"
          placeholder="LastName"
          [(ngModel)]="lastName"
          [disabled]="!isEditable">
      </div>&nbsp;

      <div class="form-group">
        <input
         type="email"
         class="form-control"
         [(ngModel)]="email"
         [disabled]="!isEditable">
      </div>&nbsp;

      <div>
        <button type="submit" class="btn btn-primary" (click)="onProfileAdd()" [disabled]="!isEditable">Add</button>
        <button type="submit" class="btn btn-primary" (click)="onProfileEdit()" [disabled]="isEditable">Edit</button>
      </div>
    </div>

  </div>
</section>
