<link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
<app-header></app-header>
<div class="container-fluid p-0"></div>
<app-section-profile></app-section-profile>
<app-section-professional-summary></app-section-professional-summary>
<app-section-skills></app-section-skills>
<app-section-experience></app-section-experience>
<app-section-professional-experience></app-section-professional-experience>
<app-section-education></app-section-education>