<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
  <div class="my-auto">
    <h2 class="mb-5">Technical Skills</h2>

    <div class="subheading mb-3">UI Technologies &amp; Tools:</div>
    <tag-input></tag-input>
    
    <ul class="list-inline list-icons">
      <li class="list-inline-item">
        <i class="devicons devicons-html5"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-css3"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-javascript"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-jquery"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-sass"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-less"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-bootstrap"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-wordpress"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-grunt"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-gulp"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-npm"></i>
      </li>
    </ul>

    <div class="subheading mb-3">UI Frameworks &amp; Tools:</div>
    <tag-input></tag-input>
    
    <ul class="list-inline list-icons">
      <li class="list-inline-item">
        <i class="devicons devicons-sass"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-less"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-bootstrap"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-wordpress"></i>
      </li>
    </ul>

    <div class="subheading mb-3">Programming Languages &amp; Tools:</div>
    <tag-input></tag-input>
    
    <ul class="list-inline list-icons">
      <li class="list-inline-item">
        <i class="devicons devicons-html5"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-javascript"></i>
      </li>
    </ul>

    <div class="subheading mb-3">Backend Frameworks &amp; Tools:</div>
    <tag-input></tag-input>
    
    <ul class="list-inline list-icons">
      <li class="list-inline-item">
        <i class="devicons devicons-wordpress"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-grunt"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-gulp"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-npm"></i>
      </li>
    </ul>

    <div class="subheading mb-3">Databases &amp; Tools:</div>
    <tag-input></tag-input>
    
    <ul class="list-inline list-icons">
      <li class="list-inline-item">
        <i class="devicons devicons-bootstrap"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-wordpress"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-gulp"></i>
      </li>
    </ul>

  </div>
</section>